PORT=5000
GEMINI_API_KEY=AQ.Ab8RN6IBhPdUAwiikj5DEY2VUgvDn4Oyi5SiaxpCicPuKTHQEQ
MONGO_URI=mongodb+srv://netheriteblock_db_user:hK34EWWcnbpPrlVm@cluster0.dcj4f4o.mongodb.net/artmind_db?retryWrites=true&w=majority